@import './reset.css';

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#sidebar,
#content {
	padding: 2em;
}

.icons-square {
	color: #84c3bc;
	font-size: 40px;
	margin-right: 10px;
}



#header {
	grid-area: header;
	display: flex;
	align-items: center;
	justify-content: center;


}

#header>h2 {
	color: #5a7ee1;
	font-size: 20px;
}

#sidebar {
	background-color: #4d62d7;
	grid-area: sidebar;
}

#content {
	background-color: #f9f9f9;
	grid-area: main;

}

#content h2 {
	color: #a4a4a4;
	font-size: 17px;
	display: flex;
	align-items: center;
	margin-bottom: 20px;


}

#content section:first-child {

	margin-bottom: 40px;
}

#url-input {
	width: 500px;
	height: 40px;
	border: 1px solid #a5b9df;
	border-radius: 5px;
}

#button-analysis {
	font-size: 15px;
	margin-left: 20px;
	padding: 10px;
	border: 0;
	border-radius: 5px;
	background-color: #4167f7;
	color: white;
	cursor: pointer;

}

#url-wrapper {
	background-color: white;
	padding: 20px;

}

#url-wrapper>h4 {
	color: #383838;
}

#icon-clear-data {
	color: #bf2926;
	margin-right: 10px;
	cursor: pointer;
}

#span-clear {
	color: #bf2926;
}

#plugged-optimisee-cloud {
	color: #7bb239;
	font-size: 40px;
}

#plugged-cloud {
	color: orange;
	font-size: 40px;
}

#unplugged {
	color: red;
	font-size: 40px;
}

#table-tbody {
	background-color: white;
	padding: 10px;
}


#table {
	width: 100%;
	color: #919191;
	border-spacing: 0;


}

#table td,
th {
	padding: 10px;
	text-align: center;
}



#span-flag {
	border: 1px solid #4167f7;
	background-color: #4167f7;
	color: white;
	margin-right: 10px;
	padding: 3px;

}

#cloudfront-status {
	border: 1px solid #bf2926;
	color: white;
	background-color: #bf2926;
	border-radius: 30px;
	padding: 5px;
	font-size: 15px;


}

/* MOBILE FIRST */

#body {
	font-family: Helvetica;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* THEN DESKTOP */
@media (min-width: 700px) {
	#body {
		display: grid;
		grid: 10% auto 10% / minmax(200px, 1fr) minmax(400px, 4fr);
		/* grid-gap: 20px; */
		grid-template-areas:
			'sidebar header'
			'sidebar main'
			'sidebar main';
	}
}